.form-box1 {
    box-sizing: border-box;
    width: 717px;
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid #ebf0f5;
    border-radius: 10px;
    
  }
  
  .new-expense__controls1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .new-expense__control1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .new-expense__control label1 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .new-expense__control input1 {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .new-expense__actions1 {
    display: flex;
    justify-content: flex-end;
  }
  
  .new-expense__actions button1 {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .new-expense__actions button1:hover {
    background-color: #45a049;
  }
  
  